# Environment & Secrets
.env
.env*.local
.env.production
.env.development

# Dependencies
node_modules
.pnpm-store

# Next.js & Build Outputs
.next/
out/
dist/
build/

# Turborepo & Vercel
.turbo/
.vercel

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System & OS Files
.DS_Store
Thumbs.db

# IDE & Internal Metadata
.system_generated
.vscode/
.idea/
